section.reviews
  .container
    h2.reviews__title.section__title Отзывы
    ul.reviews__list
      li.reviews__item
        .reviews__wrapper
          .reviews__info
            .reviews__box-images
              img(
                class="reviews__img"
                src="static/images/content/review-1.jpg"
                alt="Фото автора отзыва"
                width="80"
                height="80"
              )
            .reviews__box
              h3.reviews__name Кирилл Агапьев
              p.reviews__count Купил 35 книг
          p.reviews__review
            .
              Огромный ассортимент разных книг, которых нет в магазинах нашего города. Цены зачастую гораздо ниже магазинских, так
              плюс к этому ещё и постоянные большие скидки!
      li.reviews__item
        .reviews__wrapper
          .reviews__info
            .reviews__box-images
              img(
                class="reviews__img"
                src="static/images/content/review-2.jpg"
                alt="Фото автора отзыва"
                width="80"
                height="80"
              )
            .reviews__box
              h3.reviews__name Елизавета Марьина
              p.reviews__count Купила 76 книг
          p.reviews__review
            .
              Удобная навигация, большой выбор, книги в подарок при определенной сумме заказа. Заказ собирают без ошибок, привозят
              без задержек
      li.reviews__item
        .reviews__wrapper
          .reviews__info
            .reviews__box-images
              img(
                class="reviews__img"
                src="static/images/content/review-3.jpg"
                alt="Фото автора отзыва"
                width="80"
                height="80"
              )
            .reviews__box
              h3.reviews__name Полина Аленичева
              p.reviews__count Купила 35 книг
          p.reviews__review
            .
              Удобный каталог, полезные отзывы на книги, так же есть видео обзоры на книги. Иногда можно приобрести дорогое издание
              за «символическую» цену.
