
header.header
  .container
    .header__wrapper
      a.header__logo-link(href="index.html") 
        span.visually-hidden Логотип сайта "По полочкам"
        .
          <svg class="header__logo" width="230" height="35" viewBox="0 0 230 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M0 0.612722H21.2467V3.21678H17.9631V14.5521H21.2467V17.1945H12.6321V14.5521H14.6409V3.21678H6.6058V14.5521H8.61458V17.1945H0V14.5521H3.28358V3.21678H0V0.612722Z"
              fill="#37393E"
            />
            <path
              d="M32.3032 0C34.93 0 37.029 0.791432 38.5999 2.37429C40.1966 3.95716 40.995 6.13997 40.995 8.92275C40.995 11.7055 40.1966 13.8883 38.5999 15.4712C37.029 17.0285 34.93 17.8072 32.3032 17.8072C29.7278 17.8072 27.6546 17.0285 26.0837 15.4712C24.5385 13.8883 23.7658 11.7055 23.7658 8.92275C23.7658 6.13997 24.5385 3.95716 26.0837 2.37429C27.6546 0.791432 29.7278 0 32.3032 0ZM32.3418 2.71895C30.6163 2.71895 29.3158 3.25508 28.4401 4.32734C27.5645 5.3996 27.1267 6.9314 27.1267 8.92275C27.1267 10.8886 27.5645 12.4204 28.4401 13.5181C29.3158 14.5904 30.6163 15.1265 32.3418 15.1265C34.093 15.1265 35.4065 14.5904 36.2821 13.5181C37.1835 12.4204 37.6342 10.8886 37.6342 8.92275C37.6342 6.9314 37.1835 5.3996 36.2821 4.32734C35.4065 3.25508 34.093 2.71895 32.3418 2.71895Z"
              fill="#37393E"
            />
            <path
              d="M53.8336 0.612722H75.0803V3.21678H71.7967V14.5521H75.0803V17.1945H66.4657V14.5521H68.4745V3.21678H60.4394V14.5521H62.4482V17.1945H53.8336V14.5521H57.1172V3.21678H53.8336V0.612722Z"
              fill="#37393E"
            />
            <path
              d="M86.1367 0C88.7636 0 90.8625 0.791432 92.4335 2.37429C94.0302 3.95716 94.8286 6.13997 94.8286 8.92275C94.8286 11.7055 94.0302 13.8883 92.4335 15.4712C90.8625 17.0285 88.7636 17.8072 86.1367 17.8072C83.5614 17.8072 81.4882 17.0285 79.9173 15.4712C78.372 13.8883 77.5994 11.7055 77.5994 8.92275C77.5994 6.13997 78.372 3.95716 79.9173 2.37429C81.4882 0.791432 83.5614 0 86.1367 0ZM86.1754 2.71895C84.4499 2.71895 83.1493 3.25508 82.2737 4.32734C81.3981 5.3996 80.9603 6.9314 80.9603 8.92275C80.9603 10.8886 81.3981 12.4204 82.2737 13.5181C83.1493 14.5904 84.4499 15.1265 86.1754 15.1265C87.9266 15.1265 89.2401 14.5904 90.1157 13.5181C91.0171 12.4204 91.4677 10.8886 91.4677 8.92275C91.4677 6.9314 91.0171 5.3996 90.1157 4.32734C89.2401 3.25508 87.9266 2.71895 86.1754 2.71895Z"
              fill="#37393E"
            />
            <path
              d="M96.9074 17.4625V14.7436C98.2466 14.8968 99.2638 14.667 99.9592 14.0543C100.655 13.4416 101.144 12.5608 101.427 11.4119C101.736 10.2375 101.942 8.90998 102.045 7.42924L102.277 3.21678H98.8775V0.612722H116.918V3.21678H113.364V14.5521H116.995V17.1945H108.381V14.5521H110.042V3.21678H105.29L104.904 8.34832C104.775 10.212 104.415 11.8715 103.822 13.3267C103.256 14.7819 102.406 15.8924 101.273 16.6583C100.139 17.3987 98.6844 17.6668 96.9074 17.4625Z"
              fill="#37393E"
            />
            <path
              d="M128.049 0C130.676 0 132.775 0.791432 134.346 2.37429C135.943 3.95716 136.741 6.13997 136.741 8.92275C136.741 11.7055 135.943 13.8883 134.346 15.4712C132.775 17.0285 130.676 17.8072 128.049 17.8072C125.474 17.8072 123.401 17.0285 121.83 15.4712C120.285 13.8883 119.512 11.7055 119.512 8.92275C119.512 6.13997 120.285 3.95716 121.83 2.37429C123.401 0.791432 125.474 0 128.049 0ZM128.088 2.71895C126.362 2.71895 125.062 3.25508 124.186 4.32734C123.311 5.3996 122.873 6.9314 122.873 8.92275C122.873 10.8886 123.311 12.4204 124.186 13.5181C125.062 14.5904 126.362 15.1265 128.088 15.1265C129.839 15.1265 131.153 14.5904 132.028 13.5181C132.93 12.4204 133.38 10.8886 133.38 8.92275C133.38 6.9314 132.93 5.3996 132.028 4.32734C131.153 3.25508 129.839 2.71895 128.088 2.71895Z"
              fill="#37393E"
            />
            <path
              d="M152.05 9.995C151.509 10.3524 150.801 10.6971 149.925 11.029C149.049 11.3353 147.955 11.4885 146.641 11.4885C145.354 11.4885 144.324 11.297 143.551 10.9141C142.778 10.5056 142.199 9.98224 141.813 9.34399C141.452 8.70574 141.207 8.01643 141.079 7.27606C140.976 6.53569 140.937 5.80808 140.963 5.09324L141.001 3.25508H137.718V0.612722H146.332V3.25508H144.324V4.672C144.324 5.54002 144.375 6.29315 144.478 6.9314C144.607 7.56965 144.916 8.05472 145.405 8.38661C145.894 8.7185 146.693 8.88445 147.8 8.88445C148.779 8.88445 149.629 8.74404 150.35 8.4632C151.071 8.18237 151.638 7.90154 152.05 7.62071V3.29338H150.079V0.651017H158.655V3.29338H155.41V14.5521H158.655V17.1945H148.805V14.5521H152.05V9.995Z"
              fill="#37393E"
            />
            <path
              d="M161.991 0.612722H170.219V3.21678H168.558V7.6973H171.958L174.816 3.21678H172.846V0.612722H181.229V3.21678H178.061L174.469 8.80786L178.177 14.5521H181.461V17.1945H176.13L171.726 10.3014H168.558V14.5521H170.219V17.1945H161.991V14.5521H165.236V3.21678H161.991V0.612722Z"
              fill="#37393E"
            />
            <path
              d="M195.697 16.1605C193.972 17.2583 192.143 17.8072 190.212 17.8072C185.705 17.8072 183.438 16.0839 183.413 12.6374C183.387 9.24187 185.576 7.54412 189.98 7.54412L194.809 7.58242C194.809 4.28905 193.547 2.64236 191.023 2.64236C189.787 2.64236 188.654 2.79554 187.623 3.1019L187.237 5.16983L184.494 4.71029L185.151 1.07226C187.16 0.35742 189.091 0 190.946 0C193.315 0 195.105 0.638252 196.315 1.91475C197.526 3.16572 198.131 5.00389 198.131 7.42924V14.0543L201.723 15.2031L200.874 17.9221L195.697 16.1605ZM190.096 10.0716C187.907 10.0716 186.812 10.9141 186.812 12.5991C186.812 14.3096 187.997 15.1648 190.366 15.1648C192.066 15.1648 193.547 14.7053 194.809 13.7862V10.1099L190.096 10.0716Z"
              fill="#37393E"
            />
            <path
              d="M203.036 17.1945V14.5521H206.32V3.21678H203.036V0.612722H211.612L216.75 11.4119L221.772 0.612722H230V3.21678H226.716V14.5521H230V17.1945H221.424V14.5521H223.433V2.83383L217.831 14.8968H215.436L209.603 3.02531V14.5521H211.612V17.1945H203.036Z"
              fill="#37393E"
            />
            <rect y="23.8961" width="230" height="2.98701" fill="#3971FF" />
            <rect y="31.3636" width="230" height="2.98701" fill="#3971FF" />
          </svg>
      p.header__address
        .
          г. Санкт-Петербург, #[br]
          наб. Pеки Карповки, 5 корпус П
      .user-header
        .user-header__search
          input.user-header__search-input(type="text" name="user-headerSearch" placeholder="Поиск по полке...")
          button.user-header__search-button(type="submit") Найти
            .
              <svg class="user-header__search-icon" class="width="24" class="height="24" class="viewBox="0 0 24 24" class="fill="none" class="xmlns="http://www.w3.org/2000/svg">
                <circle cx="11" cy="11" r="7" stroke="#3971FF" stroke-width="2" />
                <path d="M20 20L17 17" stroke="#3971FF" stroke-width="2" stroke-linecap="round" />
              </svg>
        a.user-header__basket(href="#")
          span.visually-hidden Корзина
          .
            <svg class="user-header__basket-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M8 8L8 7C8 4.79086 9.79086 3 12 3V3C14.2091 3 16 4.79086 16 7L16 8"
                stroke="white"
                stroke-width="2"
                stroke-linecap="round"
              />
              <path d="M15 14V12" stroke="white" stroke-width="2" stroke-linecap="round" />
              <path d="M9 14V12" stroke="white" stroke-width="2" stroke-linecap="round" />
              <path
                d="M4 12C4 10.1144 4 9.17157 4.58579 8.58579C5.17157 8 6.11438 8 8 8H16C17.8856 8 18.8284 8 19.4142 8.58579C20 9.17157 20 10.1144 20 12V13C20 16.7712 20 18.6569 18.8284 19.8284C17.6569 21 15.7712 21 12 21V21C8.22876 21 6.34315 21 5.17157 19.8284C4 18.6569 4 16.7712 4 13V12Z"
                stroke="white"
                stroke-width="2"
              />
            </svg>
  nav.nav
    div.container
      div.nav__content
        ul.nav__list
          li.nav__item 
            a.nav__link(href="index.html") Главная
          li.nav__item 
            a.nav__link(href="catalog.html") Каталог книг
          li.nav__item
            a.nav__link(href="#") Оплата и доставка
          li.nav__item
            a.nav__link(href="#") Контакты
        ul.user-nav
          li.user-nav__item
            a.user-nav__link.user-nav__link--transparent(href="#")
              span.user-nav__text Регистрация
          li.user-nav__item 
            a.user-nav__link(href="#")
              span.user-nav__text Вход