extends layout/layout

block content
  main.index-page
    h1.visually-hidden Магазин по продаже книг "По полочкам"
    section.hero
      .container
        .hero__slider.slider
          ul.slider__list
            li.slider__item
              h2.slider__title Бестселлер для самых умных и продвинутых
              p.slider__text
                .
                  Книга научит вас писать, читать, говорить по-новому. Авторы на конкретных примерах показывают, что такое хорошо и что
                  такое плохо в информационных, рекламных, журналистских и публицистических текстах.
              a.slider__link(href="#") Подробнее
              img.slider__img(src="static/images/content/hero-slider-1@1x.png" srcset="static/images/content/hero-slider-1@2x.png 2x" width="400" height="633" alt="Картинка книга Пиши, сокращай")
          ul.slider__bullets
            li.slider__bullet
              button.slider__bullet-button.slider__bullet-button--active
                span.visually-hidden Первый слайд
            li.slider__bullet
              button.slider__bullet-button #[span.visually-hidden Второй слайд]
            li.slider__bullet
              button.slider__bullet-button #[span.visually-hidden Третий слайд]
          ul.slider__arrows
            li.slider__arrow
              button.slider__arrow-button.slider__arrow-button--prev #[span.visually-hidden Переключить на предыдущий слайд]
                .
                  <svg
                    class="slider__icon-arrow"
                    width="7"
                    height="12"
                    viewBox="0 0 7 12"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1.7059 5.99998L1.35235 5.64643L0.998795 5.99998L1.35235 6.35354L1.7059 5.99998ZM6.29353 0.705254L1.35235 5.64643L2.05946 6.35354L7.00063 1.41236L6.29353 0.705254ZM1.35235 6.35354L6.29353 11.2947L7.00063 10.5876L2.05946 5.64643L1.35235 6.35354Z"
                      fill="#3971FF"
                    />
                  </svg>
            li.slider__arrow
              button.slider__arrow-button.slider__arrow-button--next #[span.visually-hidden Переключить на предыдущий слайд]
                .
                  <svg
                    class="slider__icon-arrow"
                    width="7"
                    height="12"
                    viewBox="0 0 7 12"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1.7059 5.99998L1.35235 5.64643L0.998795 5.99998L1.35235 6.35354L1.7059 5.99998ZM6.29353 0.705254L1.35235 5.64643L2.05946 6.35354L7.00063 1.41236L6.29353 0.705254ZM1.35235 6.35354L6.29353 11.2947L7.00063 10.5876L2.05946 5.64643L1.35235 6.35354Z"
                      fill="#3971FF"
                    />
                  </svg>
    section.new-books
      .container
        h2.new-books__title.section__title Новинки
        ul.books
          li.books__item
            .books__inner
              img.books__img(src="static/images/content/a-life-of-pleasure.jpg" alt='Фото книги - "Жизнь в удовольствие"' width="275" height="320")
              .books__box
                p.books__author Палиенко А.
                h3.books__name Жизнь в удовольствие
                p.books__description Автор собрал в этой книге все свои знания, актуальные в современном мире
                p.books__stars
                  .
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M4.87152 2.81324C5.29957 1.74612 5.5136 1.21256 5.86132 1.13861C5.95275 1.11916 6.04724 1.11916 6.13867 1.13861C6.48639 1.21256 6.70042 1.74612 7.12847 2.81324C7.37189 3.4201 7.4936 3.72352 7.72134 3.9299C7.78522 3.98779 7.85456 4.03934 7.92839 4.08384C8.19162 4.24249 8.52022 4.27192 9.17741 4.33078C10.2899 4.43041 10.8462 4.48023 11.016 4.79739C11.0512 4.86308 11.0751 4.9342 11.0868 5.00779C11.1431 5.36315 10.7342 5.73519 9.91632 6.47927L9.68921 6.68589C9.30685 7.03376 9.11566 7.2077 9.00508 7.42477C8.93875 7.55498 8.89427 7.69521 8.87343 7.83985C8.83869 8.08098 8.89467 8.33331 9.00664 8.83796L9.04665 9.01827C9.24744 9.92329 9.34784 10.3758 9.22251 10.5982C9.10994 10.798 8.90257 10.9259 8.67351 10.9369C8.41849 10.949 8.05917 10.6562 7.34052 10.0707C6.86704 9.68484 6.63031 9.49194 6.3675 9.41658C6.12734 9.34771 5.87265 9.34771 5.63249 9.41658C5.36968 9.49194 5.13294 9.68484 4.65947 10.0707C3.94082 10.6562 3.5815 10.949 3.32648 10.9369C3.09742 10.9259 2.89005 10.798 2.77747 10.5982C2.65215 10.3758 2.75254 9.92329 2.95334 9.01827L2.99335 8.83796C3.10532 8.33331 3.1613 8.08098 3.12656 7.83985C3.10572 7.69521 3.06124 7.55498 2.99491 7.42477C2.88432 7.2077 2.69314 7.03376 2.31078 6.68589L2.08366 6.47927C1.2658 5.73519 0.856875 5.36315 0.913191 5.00779C0.924854 4.9342 0.948774 4.86308 0.983955 4.79739C1.15382 4.48023 1.71007 4.43041 2.82258 4.33078C3.47977 4.27192 3.80837 4.24249 4.07159 4.08384C4.14543 4.03934 4.21477 3.98779 4.27865 3.9299C4.50639 3.72352 4.6281 3.4201 4.87152 2.81324Z"
                        fill="white"
                        stroke="white"
                      />
                    </svg>
                  span.books__star 3.5
                .books__wrapper
                  a.books__link(href="#") Подробнее
                  span.books__pages 208 страниц
          li.books__item
            .books__inner
              img.books__img(src="static/images/content/book-kingdoms.jpg" alt='Фото книги - "Королевство"' width="275" height="320")
              books__box
                p.books__author Несбё Ю.
                h3.books__name Королевство
                p.books__description В норвежском городке, затерянном в горах, течет сонная, мирная жизнь
                p.books__stars
                  .
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M4.87152 2.81324C5.29957 1.74612 5.5136 1.21256 5.86132 1.13861C5.95275 1.11916 6.04724 1.11916 6.13867 1.13861C6.48639 1.21256 6.70042 1.74612 7.12847 2.81324C7.37189 3.4201 7.4936 3.72352 7.72134 3.9299C7.78522 3.98779 7.85456 4.03934 7.92839 4.08384C8.19162 4.24249 8.52022 4.27192 9.17741 4.33078C10.2899 4.43041 10.8462 4.48023 11.016 4.79739C11.0512 4.86308 11.0751 4.9342 11.0868 5.00779C11.1431 5.36315 10.7342 5.73519 9.91632 6.47927L9.68921 6.68589C9.30685 7.03376 9.11566 7.2077 9.00508 7.42477C8.93875 7.55498 8.89427 7.69521 8.87343 7.83985C8.83869 8.08098 8.89467 8.33331 9.00664 8.83796L9.04665 9.01827C9.24744 9.92329 9.34784 10.3758 9.22251 10.5982C9.10994 10.798 8.90257 10.9259 8.67351 10.9369C8.41849 10.949 8.05917 10.6562 7.34052 10.0707C6.86704 9.68484 6.63031 9.49194 6.3675 9.41658C6.12734 9.34771 5.87265 9.34771 5.63249 9.41658C5.36968 9.49194 5.13294 9.68484 4.65947 10.0707C3.94082 10.6562 3.5815 10.949 3.32648 10.9369C3.09742 10.9259 2.89005 10.798 2.77747 10.5982C2.65215 10.3758 2.75254 9.92329 2.95334 9.01827L2.99335 8.83796C3.10532 8.33331 3.1613 8.08098 3.12656 7.83985C3.10572 7.69521 3.06124 7.55498 2.99491 7.42477C2.88432 7.2077 2.69314 7.03376 2.31078 6.68589L2.08366 6.47927C1.2658 5.73519 0.856875 5.36315 0.913191 5.00779C0.924854 4.9342 0.948774 4.86308 0.983955 4.79739C1.15382 4.48023 1.71007 4.43041 2.82258 4.33078C3.47977 4.27192 3.80837 4.24249 4.07159 4.08384C4.14543 4.03934 4.21477 3.98779 4.27865 3.9299C4.50639 3.72352 4.6281 3.4201 4.87152 2.81324Z"
                        fill="white"
                        stroke="white"
                      />
                    </svg>
                  span.books__star 4.8
                .books__wrapper
                  a.books__link(href="#") Подробнее
                  span.books__pages 576 страниц
          li.books__item
            .books__inner
              img.books__img(src="static/images/content/book-transhumanism.jpg" alt='Фото книги - "Transhumanism inc."' width="275" height="320")
              .books__box
                p.books__author Пелевин В.
                h3.books__name Transhumanism inc.
                p.books__description В будущем богатые люди смогут отделить свой мозг от старящегося тела
                p.books__stars
                  .
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M4.87152 2.81324C5.29957 1.74612 5.5136 1.21256 5.86132 1.13861C5.95275 1.11916 6.04724 1.11916 6.13867 1.13861C6.48639 1.21256 6.70042 1.74612 7.12847 2.81324C7.37189 3.4201 7.4936 3.72352 7.72134 3.9299C7.78522 3.98779 7.85456 4.03934 7.92839 4.08384C8.19162 4.24249 8.52022 4.27192 9.17741 4.33078C10.2899 4.43041 10.8462 4.48023 11.016 4.79739C11.0512 4.86308 11.0751 4.9342 11.0868 5.00779C11.1431 5.36315 10.7342 5.73519 9.91632 6.47927L9.68921 6.68589C9.30685 7.03376 9.11566 7.2077 9.00508 7.42477C8.93875 7.55498 8.89427 7.69521 8.87343 7.83985C8.83869 8.08098 8.89467 8.33331 9.00664 8.83796L9.04665 9.01827C9.24744 9.92329 9.34784 10.3758 9.22251 10.5982C9.10994 10.798 8.90257 10.9259 8.67351 10.9369C8.41849 10.949 8.05917 10.6562 7.34052 10.0707C6.86704 9.68484 6.63031 9.49194 6.3675 9.41658C6.12734 9.34771 5.87265 9.34771 5.63249 9.41658C5.36968 9.49194 5.13294 9.68484 4.65947 10.0707C3.94082 10.6562 3.5815 10.949 3.32648 10.9369C3.09742 10.9259 2.89005 10.798 2.77747 10.5982C2.65215 10.3758 2.75254 9.92329 2.95334 9.01827L2.99335 8.83796C3.10532 8.33331 3.1613 8.08098 3.12656 7.83985C3.10572 7.69521 3.06124 7.55498 2.99491 7.42477C2.88432 7.2077 2.69314 7.03376 2.31078 6.68589L2.08366 6.47927C1.2658 5.73519 0.856875 5.36315 0.913191 5.00779C0.924854 4.9342 0.948774 4.86308 0.983955 4.79739C1.15382 4.48023 1.71007 4.43041 2.82258 4.33078C3.47977 4.27192 3.80837 4.24249 4.07159 4.08384C4.14543 4.03934 4.21477 3.98779 4.27865 3.9299C4.50639 3.72352 4.6281 3.4201 4.87152 2.81324Z"
                        fill="white"
                        stroke="white"
                      />
                    </svg>
                  span.books__star 3.9
                .books__wrapper
                  a.books__link(href="#") Подробнее
                  span.books__pages 608 страниц
          li.books__item
            .books__inner
              img.books__img(src="static/images/content/book-feelings-of-shame.jpg" alt='Фото книги - "Чувство стыда"' width="275" height="320")
              .books__box
                p.books__author Санд И.
                h3.books__name Чувство стыда
                p.books__description
                  | Это чувство сидит глубоко в нас, о нем не принято распространяться и обсуждать с близкими
                p.books__stars
                  .
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M4.87152 2.81324C5.29957 1.74612 5.5136 1.21256 5.86132 1.13861C5.95275 1.11916 6.04724 1.11916 6.13867 1.13861C6.48639 1.21256 6.70042 1.74612 7.12847 2.81324C7.37189 3.4201 7.4936 3.72352 7.72134 3.9299C7.78522 3.98779 7.85456 4.03934 7.92839 4.08384C8.19162 4.24249 8.52022 4.27192 9.17741 4.33078C10.2899 4.43041 10.8462 4.48023 11.016 4.79739C11.0512 4.86308 11.0751 4.9342 11.0868 5.00779C11.1431 5.36315 10.7342 5.73519 9.91632 6.47927L9.68921 6.68589C9.30685 7.03376 9.11566 7.2077 9.00508 7.42477C8.93875 7.55498 8.89427 7.69521 8.87343 7.83985C8.83869 8.08098 8.89467 8.33331 9.00664 8.83796L9.04665 9.01827C9.24744 9.92329 9.34784 10.3758 9.22251 10.5982C9.10994 10.798 8.90257 10.9259 8.67351 10.9369C8.41849 10.949 8.05917 10.6562 7.34052 10.0707C6.86704 9.68484 6.63031 9.49194 6.3675 9.41658C6.12734 9.34771 5.87265 9.34771 5.63249 9.41658C5.36968 9.49194 5.13294 9.68484 4.65947 10.0707C3.94082 10.6562 3.5815 10.949 3.32648 10.9369C3.09742 10.9259 2.89005 10.798 2.77747 10.5982C2.65215 10.3758 2.75254 9.92329 2.95334 9.01827L2.99335 8.83796C3.10532 8.33331 3.1613 8.08098 3.12656 7.83985C3.10572 7.69521 3.06124 7.55498 2.99491 7.42477C2.88432 7.2077 2.69314 7.03376 2.31078 6.68589L2.08366 6.47927C1.2658 5.73519 0.856875 5.36315 0.913191 5.00779C0.924854 4.9342 0.948774 4.86308 0.983955 4.79739C1.15382 4.48023 1.71007 4.43041 2.82258 4.33078C3.47977 4.27192 3.80837 4.24249 4.07159 4.08384C4.14543 4.03934 4.21477 3.98779 4.27865 3.9299C4.50639 3.72352 4.6281 3.4201 4.87152 2.81324Z"
                        fill="white"
                        stroke="white"
                      />
                    </svg>
                  span.books__star 4.1
                .books__wrapper
                  a.books__link(href="#") Подробнее
                  span.books__pages 170 страниц
    section.best-books
      .container
        h2.best-books__title.section__title Лучшее
        ul.books
          li.books__item
            .books__inner
              img(
                class="books__img"
                src="static/images/content/books-anxious-people.jpg"
                alt='Фото книги - "Тревожные люди"'
                width="275"
                height="320"
              )
              books__box
                p.books__author Бакман Ф.
                h3.books__name Тревожные люди
                p.books__description Целая галерея уязвимых персонажей, тонко подмеченная Бакманом человеческая природа
                p.books__stars
                  .
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M4.87152 2.81324C5.29957 1.74612 5.5136 1.21256 5.86132 1.13861C5.95275 1.11916 6.04724 1.11916 6.13867 1.13861C6.48639 1.21256 6.70042 1.74612 7.12847 2.81324C7.37189 3.4201 7.4936 3.72352 7.72134 3.9299C7.78522 3.98779 7.85456 4.03934 7.92839 4.08384C8.19162 4.24249 8.52022 4.27192 9.17741 4.33078C10.2899 4.43041 10.8462 4.48023 11.016 4.79739C11.0512 4.86308 11.0751 4.9342 11.0868 5.00779C11.1431 5.36315 10.7342 5.73519 9.91632 6.47927L9.68921 6.68589C9.30685 7.03376 9.11566 7.2077 9.00508 7.42477C8.93875 7.55498 8.89427 7.69521 8.87343 7.83985C8.83869 8.08098 8.89467 8.33331 9.00664 8.83796L9.04665 9.01827C9.24744 9.92329 9.34784 10.3758 9.22251 10.5982C9.10994 10.798 8.90257 10.9259 8.67351 10.9369C8.41849 10.949 8.05917 10.6562 7.34052 10.0707C6.86704 9.68484 6.63031 9.49194 6.3675 9.41658C6.12734 9.34771 5.87265 9.34771 5.63249 9.41658C5.36968 9.49194 5.13294 9.68484 4.65947 10.0707C3.94082 10.6562 3.5815 10.949 3.32648 10.9369C3.09742 10.9259 2.89005 10.798 2.77747 10.5982C2.65215 10.3758 2.75254 9.92329 2.95334 9.01827L2.99335 8.83796C3.10532 8.33331 3.1613 8.08098 3.12656 7.83985C3.10572 7.69521 3.06124 7.55498 2.99491 7.42477C2.88432 7.2077 2.69314 7.03376 2.31078 6.68589L2.08366 6.47927C1.2658 5.73519 0.856875 5.36315 0.913191 5.00779C0.924854 4.9342 0.948774 4.86308 0.983955 4.79739C1.15382 4.48023 1.71007 4.43041 2.82258 4.33078C3.47977 4.27192 3.80837 4.24249 4.07159 4.08384C4.14543 4.03934 4.21477 3.98779 4.27865 3.9299C4.50639 3.72352 4.6281 3.4201 4.87152 2.81324Z"
                        fill="white"
                        stroke="white"
                      />
                    </svg>
                  span.books__star 5.0
                .books__wrapper
                  a.books__link(href="#") Подробнее
                  span.books__pages 416 страниц
          li.books__item
            .books__inner
              img(
                class="books__img"
                src="static/images/content/book-sapiens.jpg"
                alt='Фото книги - "Sapiens"'
                width="275"
                height="320"
              )
              .books__box
                p.books__author Харари Ю.
                h3.books__name Sapiens
                p.books__description Краткая история человечества. Какое будущее нас ожидает? Кто наши предки?
                p.books__stars
                  .
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M4.87152 2.81324C5.29957 1.74612 5.5136 1.21256 5.86132 1.13861C5.95275 1.11916 6.04724 1.11916 6.13867 1.13861C6.48639 1.21256 6.70042 1.74612 7.12847 2.81324C7.37189 3.4201 7.4936 3.72352 7.72134 3.9299C7.78522 3.98779 7.85456 4.03934 7.92839 4.08384C8.19162 4.24249 8.52022 4.27192 9.17741 4.33078C10.2899 4.43041 10.8462 4.48023 11.016 4.79739C11.0512 4.86308 11.0751 4.9342 11.0868 5.00779C11.1431 5.36315 10.7342 5.73519 9.91632 6.47927L9.68921 6.68589C9.30685 7.03376 9.11566 7.2077 9.00508 7.42477C8.93875 7.55498 8.89427 7.69521 8.87343 7.83985C8.83869 8.08098 8.89467 8.33331 9.00664 8.83796L9.04665 9.01827C9.24744 9.92329 9.34784 10.3758 9.22251 10.5982C9.10994 10.798 8.90257 10.9259 8.67351 10.9369C8.41849 10.949 8.05917 10.6562 7.34052 10.0707C6.86704 9.68484 6.63031 9.49194 6.3675 9.41658C6.12734 9.34771 5.87265 9.34771 5.63249 9.41658C5.36968 9.49194 5.13294 9.68484 4.65947 10.0707C3.94082 10.6562 3.5815 10.949 3.32648 10.9369C3.09742 10.9259 2.89005 10.798 2.77747 10.5982C2.65215 10.3758 2.75254 9.92329 2.95334 9.01827L2.99335 8.83796C3.10532 8.33331 3.1613 8.08098 3.12656 7.83985C3.10572 7.69521 3.06124 7.55498 2.99491 7.42477C2.88432 7.2077 2.69314 7.03376 2.31078 6.68589L2.08366 6.47927C1.2658 5.73519 0.856875 5.36315 0.913191 5.00779C0.924854 4.9342 0.948774 4.86308 0.983955 4.79739C1.15382 4.48023 1.71007 4.43041 2.82258 4.33078C3.47977 4.27192 3.80837 4.24249 4.07159 4.08384C4.14543 4.03934 4.21477 3.98779 4.27865 3.9299C4.50639 3.72352 4.6281 3.4201 4.87152 2.81324Z"
                        fill="white"
                        stroke="white"
                      />
                    </svg>
                  span.books__star 4.9
                .books__wrapper
                  a.books__link(href="#") Подробнее
                  span.books__pages 520 страниц
          li.books__item
            .books__inner
              img(
                class="books__img"
                src="static/images/content/book-institute.jpg"
                alt='Фото книги - "Институт"'
                width="275"
                height="320"
              )
              .books__box
                p.books__author Кинг С.
                h3.books__name Институт
                p.books__description Бежать невозможно. Будущее предопределено. Загадочная Дальняя половина Института
                p.books__stars
                  .
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M4.87152 2.81324C5.29957 1.74612 5.5136 1.21256 5.86132 1.13861C5.95275 1.11916 6.04724 1.11916 6.13867 1.13861C6.48639 1.21256 6.70042 1.74612 7.12847 2.81324C7.37189 3.4201 7.4936 3.72352 7.72134 3.9299C7.78522 3.98779 7.85456 4.03934 7.92839 4.08384C8.19162 4.24249 8.52022 4.27192 9.17741 4.33078C10.2899 4.43041 10.8462 4.48023 11.016 4.79739C11.0512 4.86308 11.0751 4.9342 11.0868 5.00779C11.1431 5.36315 10.7342 5.73519 9.91632 6.47927L9.68921 6.68589C9.30685 7.03376 9.11566 7.2077 9.00508 7.42477C8.93875 7.55498 8.89427 7.69521 8.87343 7.83985C8.83869 8.08098 8.89467 8.33331 9.00664 8.83796L9.04665 9.01827C9.24744 9.92329 9.34784 10.3758 9.22251 10.5982C9.10994 10.798 8.90257 10.9259 8.67351 10.9369C8.41849 10.949 8.05917 10.6562 7.34052 10.0707C6.86704 9.68484 6.63031 9.49194 6.3675 9.41658C6.12734 9.34771 5.87265 9.34771 5.63249 9.41658C5.36968 9.49194 5.13294 9.68484 4.65947 10.0707C3.94082 10.6562 3.5815 10.949 3.32648 10.9369C3.09742 10.9259 2.89005 10.798 2.77747 10.5982C2.65215 10.3758 2.75254 9.92329 2.95334 9.01827L2.99335 8.83796C3.10532 8.33331 3.1613 8.08098 3.12656 7.83985C3.10572 7.69521 3.06124 7.55498 2.99491 7.42477C2.88432 7.2077 2.69314 7.03376 2.31078 6.68589L2.08366 6.47927C1.2658 5.73519 0.856875 5.36315 0.913191 5.00779C0.924854 4.9342 0.948774 4.86308 0.983955 4.79739C1.15382 4.48023 1.71007 4.43041 2.82258 4.33078C3.47977 4.27192 3.80837 4.24249 4.07159 4.08384C4.14543 4.03934 4.21477 3.98779 4.27865 3.9299C4.50639 3.72352 4.6281 3.4201 4.87152 2.81324Z"
                        fill="white"
                        stroke="white"
                      />
                    </svg>
                  span.books__star 4.8
                .books__wrapper
                  a.books__link(href="#") Подробнее
                  span.books__pages 608 страниц
          li.books__item
            .books__inner
              img(
                class="books__img"
                src="static/images/content/book-normal-peoples.jpg"
                alt='Фото книги - "Нормальные люди"'
                width="275"
                height="320"
              )
              .books__box
                p.books__author Руни С.
                h3.books__name Нормальные люди
                p.books__description
                  .
                    О желании ощутить власть над другим человеком и одновременно всецело принадлежать ему
                p.books__stars
                  .
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M4.87152 2.81324C5.29957 1.74612 5.5136 1.21256 5.86132 1.13861C5.95275 1.11916 6.04724 1.11916 6.13867 1.13861C6.48639 1.21256 6.70042 1.74612 7.12847 2.81324C7.37189 3.4201 7.4936 3.72352 7.72134 3.9299C7.78522 3.98779 7.85456 4.03934 7.92839 4.08384C8.19162 4.24249 8.52022 4.27192 9.17741 4.33078C10.2899 4.43041 10.8462 4.48023 11.016 4.79739C11.0512 4.86308 11.0751 4.9342 11.0868 5.00779C11.1431 5.36315 10.7342 5.73519 9.91632 6.47927L9.68921 6.68589C9.30685 7.03376 9.11566 7.2077 9.00508 7.42477C8.93875 7.55498 8.89427 7.69521 8.87343 7.83985C8.83869 8.08098 8.89467 8.33331 9.00664 8.83796L9.04665 9.01827C9.24744 9.92329 9.34784 10.3758 9.22251 10.5982C9.10994 10.798 8.90257 10.9259 8.67351 10.9369C8.41849 10.949 8.05917 10.6562 7.34052 10.0707C6.86704 9.68484 6.63031 9.49194 6.3675 9.41658C6.12734 9.34771 5.87265 9.34771 5.63249 9.41658C5.36968 9.49194 5.13294 9.68484 4.65947 10.0707C3.94082 10.6562 3.5815 10.949 3.32648 10.9369C3.09742 10.9259 2.89005 10.798 2.77747 10.5982C2.65215 10.3758 2.75254 9.92329 2.95334 9.01827L2.99335 8.83796C3.10532 8.33331 3.1613 8.08098 3.12656 7.83985C3.10572 7.69521 3.06124 7.55498 2.99491 7.42477C2.88432 7.2077 2.69314 7.03376 2.31078 6.68589L2.08366 6.47927C1.2658 5.73519 0.856875 5.36315 0.913191 5.00779C0.924854 4.9342 0.948774 4.86308 0.983955 4.79739C1.15382 4.48023 1.71007 4.43041 2.82258 4.33078C3.47977 4.27192 3.80837 4.24249 4.07159 4.08384C4.14543 4.03934 4.21477 3.98779 4.27865 3.9299C4.50639 3.72352 4.6281 3.4201 4.87152 2.81324Z"
                        fill="white"
                        stroke="white"
                      />
                    </svg>
                  span.books__star 4.7
                .books__wrapper
                  a.books__link(href="#") Подробнее
                  span.books__pages 288 страниц
    section.reviews
      .container
        h2.reviews__title.section__title Отзывы
        ul.reviews__list
          li.reviews__item
            .reviews__wrapper
              .reviews__info
                .reviews__box-images
                  img(
                    class="reviews__img"
                    src="static/images/content/review-1.jpg"
                    alt="Фото автора отзыва"
                    width="80"
                    height="80"
                  )
                .reviews__box
                  h3.reviews__name Кирилл Агапьев
                  p.reviews__count Купил 35 книг
              p.reviews__review
                .
                  Огромный ассортимент разных книг, которых нет в магазинах нашего города. Цены зачастую гораздо ниже магазинских, так
                  плюс к этому ещё и постоянные большие скидки!
          li.reviews__item
            .reviews__wrapper
              .reviews__info
                .reviews__box-images
                  img(
                    class="reviews__img"
                    src="static/images/content/review-2.jpg"
                    alt="Фото автора отзыва"
                    width="80"
                    height="80"
                  )
                .reviews__box
                  h3.reviews__name Елизавета Марьина
                  p.reviews__count Купила 76 книг
              p.reviews__review
                .
                  Удобная навигация, большой выбор, книги в подарок при определенной сумме заказа. Заказ собирают без ошибок, привозят
                  без задержек
          li.reviews__item
            .reviews__wrapper
              .reviews__info
                .reviews__box-images
                  img(
                    class="reviews__img"
                    src="static/images/content/review-3.jpg"
                    alt="Фото автора отзыва"
                    width="80"
                    height="80"
                  )
                .reviews__box
                  h3.reviews__name Полина Аленичева
                  p.reviews__count Купила 35 книг
              p.reviews__review
                .
                  Удобный каталог, полезные отзывы на книги, так же есть видео обзоры на книги. Иногда можно приобрести дорогое издание
                  за «символическую» цену.
    section.about
      .container
        h2.about__title.section__title О нас
        ul.about__list
          li.about__item
            .about__wrapper
              h3.about__heading По полочкам — крупнейший книжный интернет магазин
              p.about__text
                .
                  Мы предлагаем большой выбор книг, поддерживая длительные и дружелюбные партнёрские отношения с большинством
                  издательств. Мы любим книги, ценим любовь к книгам наших покупателей, поэтому стараемся сделать всё возможное, чтобы
                  каждая книга нашла своего читателя. Наши продавцы разделяют вашу любовь к чтению и всегда рады помочь.
          li.about__item
            .about__wrapper
              h3.about__heading Почему покупать книги онлайн удобно?
              p.about__text
                .
                  Что делать, если вам нужна особенная книга? Вдруг ее нет в наличии? Чтобы сэкономить время, загляните на наш сайт. Мы
                  доставляем книги почтой, курьером, в пункты самовывоза или бесплатно в магазины сети. А еще у нас есть мобильное
                  приложение, в котором удобно делать заказы. Вы можете добавить в него Карту Любимого Покупателя, чтобы копить бонусы и
                  тратить их на покупки.
