extends layout/layout

block content
  .content
    main.book-page
      section.breadcrumbs
        .container
          ul.breadcrumbs__list
            li.breadcrumbs__item #[a.breadcrumbs__link(href="index.html") Главная страница]
            li.breadcrumbs__item
              a.breadcrumbs__link.breadcrumbs__link--slash(href="catalog.html") Каталог книг
            li.breadcrumbs__item #[span.breadcrumbs__text Железный король]
      section.book
        .container
          .book__wrapper
            .book__picture
              img(
                class="book__img"
                src="static/images/content/iron-king-head.jpg"
                width="485"
                height="550"
                alt="Обложка книги - Железный король"
              )
            .book__inner
              .book__top
                .book__line
                  .
                    <svg class="book__star-icon" width="12" height="12" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M4.87152 2.81324C5.29957 1.74612 5.5136 1.21256 5.86132 1.13861C5.95275 1.11916 6.04724 1.11916 6.13867 1.13861C6.48639 1.21256 6.70042 1.74612 7.12847 2.81324C7.37189 3.4201 7.4936 3.72352 7.72134 3.9299C7.78522 3.98779 7.85456 4.03934 7.92839 4.08384C8.19162 4.24249 8.52022 4.27192 9.17741 4.33078C10.2899 4.43041 10.8462 4.48023 11.016 4.79739C11.0512 4.86308 11.0751 4.9342 11.0868 5.00779C11.1431 5.36315 10.7342 5.73519 9.91632 6.47927L9.68921 6.68589C9.30685 7.03376 9.11566 7.2077 9.00508 7.42477C8.93875 7.55498 8.89427 7.69521 8.87343 7.83985C8.83869 8.08098 8.89467 8.33331 9.00664 8.83796L9.04665 9.01827C9.24744 9.92329 9.34784 10.3758 9.22251 10.5982C9.10994 10.798 8.90257 10.9259 8.67351 10.9369C8.41849 10.949 8.05917 10.6562 7.34052 10.0707C6.86704 9.68484 6.63031 9.49194 6.3675 9.41658C6.12734 9.34771 5.87265 9.34771 5.63249 9.41658C5.36968 9.49194 5.13294 9.68484 4.65947 10.0707C3.94082 10.6562 3.5815 10.949 3.32648 10.9369C3.09742 10.9259 2.89005 10.798 2.77747 10.5982C2.65215 10.3758 2.75254 9.92329 2.95334 9.01827L2.99335 8.83796C3.10532 8.33331 3.1613 8.08098 3.12656 7.83985C3.10572 7.69521 3.06124 7.55498 2.99491 7.42477C2.88432 7.2077 2.69314 7.03376 2.31078 6.68589L2.08366 6.47927C1.2658 5.73519 0.856875 5.36315 0.913191 5.00779C0.924854 4.9342 0.948774 4.86308 0.983955 4.79739C1.15382 4.48023 1.71007 4.43041 2.82258 4.33078C3.47977 4.27192 3.80837 4.24249 4.07159 4.08384C4.14543 4.03934 4.21477 3.98779 4.27865 3.9299C4.50639 3.72352 4.6281 3.4201 4.87152 2.81324Z"
                      />
                    </svg>
                    #[span.book__star 3.8] #[span.book__grade 243 оценки]
                h1.book__title Железный король
                p.book__author Кагава Джули
              .book__description
                .book__information
                  h2.book__heading Информация
                  ul.book__info-list
                    li.book__info-item #[span.book__term Код товара] #[span.book__def 123187432]
                    li.book__info-item #[span.book__term Издательство] #[span.book__def Freedom]
                    li.book__info-item #[span.book__term Серия] #[span.book__def Железные фейри]
                    li.book__info-item #[span.book__term Год издания] #[span.book__def 2021]
                    li.book__info-item #[span.book__term Переводчик] #[span.book__def Руснак К.]
                    li.book__info-item #[span.book__term Кол-во страниц] #[span.book__def 416]
                    li.book__info-item #[span.book__term Тип обложки] #[span.book__def Твердая]
                    li.book__info-item #[span.book__term Вес, г] #[span.book__def 370]
                    li.book__info-item #[span.book__term Возрастные ограничения] #[span.book__def 16+]
                .book__annotation
                  h2.book__heading Аннотация
                  p.book__text
                    .
                      Меня зовут МЕГАН ЧЕЙЗ. Менее чем через сутки мне исполнится шестнадцать. Прекрасный возраст! В нем есть нечто
                      волшебное. О нем написано бесчисленное количество повестей, песен и стихов: девушка находит настоящую любовь, звезды
                      освещают ей путь, а прекрасный принц увозит на край света. Но это не моя история. В жизни Меган все идет не так с
                      тех самых пор, как ее отец пропал. Но после исчезновения младшего брата Меган узнает правду: она – дочь короля фейри
                      и пешка в смертельной игре.
      section.reviews
        .container
          h2.reviews__title.section__title Рецензии
          ul.reviews__list
            li.reviews__item
              .reviews__wrapper
                .reviews__info
                  .reviews__box-images
                    img(
                      class="reviews__img"
                      src="static/images/content/review-4.jpg"
                      alt="Фото автора отзыва"
                      width="80"
                      height="80"
                    )
                  .reviews__box
                    h3.reviews__name Алексей Иванов
                    p.reviews__count Купил 23 книг
                p.reviews__review
                  .
                    Хорошая книга. Полна приключений, романтики, неплохих действующих героев. Вообщем всего, что нужно, чтобы хорошо
                    провести время за чтением.
            li.reviews__item
              .reviews__wrapper
                .reviews__info
                  .reviews__box-images
                    img(
                      class="reviews__img"
                      src="static/images/content/review-5.jpg"
                      alt="Фото автора отзыва"
                      width="80"
                      height="80"
                    )
                  .reviews__box
                    h3.reviews__name Анна Кириллова
                    p.reviews__count Купила 50 книг
                p.reviews__review
                  .
                    Не ожидала многого от этой книги, купилась больше на красивую обложку, но была рада ошибиться. Обе книги прочитала дня
                    за 3 или 4, уже не помню, так вчиталась!
            li.reviews__item
              .reviews__wrapper
                .reviews__info
                  .reviews__box-images
                    img(
                      class="reviews__img"
                      src="static/images/content/review-6.jpg"
                      alt="Фото автора отзыва"
                      width="80"
                      height="80"
                    )
                  .reviews__box
                    h3.reviews__name Мария Нагаева
                    p.reviews__count Купила 8 книг
                p.reviews__review
                  .
                    Очень нетипичный подход, учитывая, что фейри и железо слабо совместимы, но логика автора, позволившая формирование
                    нового Двора, меня восхитила.
      sectionrecently-viewed
        .container
          h2.recently-viewed__title.section__title Вы недавно смотрели
          ul.books
            li.books__item
              .books__inner
                img(
                  class="books__img"
                  src="static/images/content/book-istrebitel-big.jpg"
                  alt='Фото книги - "Истребитель"'
                  width="275"
                  height="320"
                )
                .books__box
                  p.books__author Быков Д.
                  h3.books__name Истребитель
                  p.books__description Роман о советских летчиках, &quot;соколах Сталина&quot;
                  p.books__stars
                    .
                      <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M4.87152 2.81324C5.29957 1.74612 5.5136 1.21256 5.86132 1.13861C5.95275 1.11916 6.04724 1.11916 6.13867 1.13861C6.48639 1.21256 6.70042 1.74612 7.12847 2.81324C7.37189 3.4201 7.4936 3.72352 7.72134 3.9299C7.78522 3.98779 7.85456 4.03934 7.92839 4.08384C8.19162 4.24249 8.52022 4.27192 9.17741 4.33078C10.2899 4.43041 10.8462 4.48023 11.016 4.79739C11.0512 4.86308 11.0751 4.9342 11.0868 5.00779C11.1431 5.36315 10.7342 5.73519 9.91632 6.47927L9.68921 6.68589C9.30685 7.03376 9.11566 7.2077 9.00508 7.42477C8.93875 7.55498 8.89427 7.69521 8.87343 7.83985C8.83869 8.08098 8.89467 8.33331 9.00664 8.83796L9.04665 9.01827C9.24744 9.92329 9.34784 10.3758 9.22251 10.5982C9.10994 10.798 8.90257 10.9259 8.67351 10.9369C8.41849 10.949 8.05917 10.6562 7.34052 10.0707C6.86704 9.68484 6.63031 9.49194 6.3675 9.41658C6.12734 9.34771 5.87265 9.34771 5.63249 9.41658C5.36968 9.49194 5.13294 9.68484 4.65947 10.0707C3.94082 10.6562 3.5815 10.949 3.32648 10.9369C3.09742 10.9259 2.89005 10.798 2.77747 10.5982C2.65215 10.3758 2.75254 9.92329 2.95334 9.01827L2.99335 8.83796C3.10532 8.33331 3.1613 8.08098 3.12656 7.83985C3.10572 7.69521 3.06124 7.55498 2.99491 7.42477C2.88432 7.2077 2.69314 7.03376 2.31078 6.68589L2.08366 6.47927C1.2658 5.73519 0.856875 5.36315 0.913191 5.00779C0.924854 4.9342 0.948774 4.86308 0.983955 4.79739C1.15382 4.48023 1.71007 4.43041 2.82258 4.33078C3.47977 4.27192 3.80837 4.24249 4.07159 4.08384C4.14543 4.03934 4.21477 3.98779 4.27865 3.9299C4.50639 3.72352 4.6281 3.4201 4.87152 2.81324Z"
                          fill="white"
                          stroke="white"
                        />
                      </svg>
                      #[span.books__star 3.9]
                  .books__wrapper
                    a.books__link(href="#") Подробнее #[span.books__pages 576 страниц]
            li.books__item
              .books__inner
                img(
                  class="books__img"
                  src="static/images/content/book-feelings-of-shame.jpg"
                  alt='Фото книги - "Чувство стыда"'
                  width="275"
                  height="320"
                )
                .books__box
                  p.books__author Санд И.
                  h3.books__name Чувство стыда
                  p.books__description
                    .
                      Это чувство сидит глубоко в нас, о нем не принято распространяться и обсуждать с близкими
                  p.books__stars
                    .
                      <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M4.87152 2.81324C5.29957 1.74612 5.5136 1.21256 5.86132 1.13861C5.95275 1.11916 6.04724 1.11916 6.13867 1.13861C6.48639 1.21256 6.70042 1.74612 7.12847 2.81324C7.37189 3.4201 7.4936 3.72352 7.72134 3.9299C7.78522 3.98779 7.85456 4.03934 7.92839 4.08384C8.19162 4.24249 8.52022 4.27192 9.17741 4.33078C10.2899 4.43041 10.8462 4.48023 11.016 4.79739C11.0512 4.86308 11.0751 4.9342 11.0868 5.00779C11.1431 5.36315 10.7342 5.73519 9.91632 6.47927L9.68921 6.68589C9.30685 7.03376 9.11566 7.2077 9.00508 7.42477C8.93875 7.55498 8.89427 7.69521 8.87343 7.83985C8.83869 8.08098 8.89467 8.33331 9.00664 8.83796L9.04665 9.01827C9.24744 9.92329 9.34784 10.3758 9.22251 10.5982C9.10994 10.798 8.90257 10.9259 8.67351 10.9369C8.41849 10.949 8.05917 10.6562 7.34052 10.0707C6.86704 9.68484 6.63031 9.49194 6.3675 9.41658C6.12734 9.34771 5.87265 9.34771 5.63249 9.41658C5.36968 9.49194 5.13294 9.68484 4.65947 10.0707C3.94082 10.6562 3.5815 10.949 3.32648 10.9369C3.09742 10.9259 2.89005 10.798 2.77747 10.5982C2.65215 10.3758 2.75254 9.92329 2.95334 9.01827L2.99335 8.83796C3.10532 8.33331 3.1613 8.08098 3.12656 7.83985C3.10572 7.69521 3.06124 7.55498 2.99491 7.42477C2.88432 7.2077 2.69314 7.03376 2.31078 6.68589L2.08366 6.47927C1.2658 5.73519 0.856875 5.36315 0.913191 5.00779C0.924854 4.9342 0.948774 4.86308 0.983955 4.79739C1.15382 4.48023 1.71007 4.43041 2.82258 4.33078C3.47977 4.27192 3.80837 4.24249 4.07159 4.08384C4.14543 4.03934 4.21477 3.98779 4.27865 3.9299C4.50639 3.72352 4.6281 3.4201 4.87152 2.81324Z"
                          fill="white"
                          stroke="white"
                        />
                      </svg>
                      #[span.books__star 4.1]
                  .books__wrapper
                    a.books__link(href="#") Подробнее #[span.books__pages 170 страниц]
            li.books__item
              .books__inner
                img(
                  class="books__img"
                  src="static/images/content/book-second-life-big.jpg"
                  alt='Фото книги - "Вторая жизнь Уве"'
                  width="275"
                  height="320"
                )
                .books__box
                  p.books__author Несбё Ю.
                  h3.books__name Вторая жизнь Уве
                  p.books__description Откуда берутся зануды и склочники? Внутри зреет обида на мир
                  p.books__stars
                    .
                      <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M4.87152 2.81324C5.29957 1.74612 5.5136 1.21256 5.86132 1.13861C5.95275 1.11916 6.04724 1.11916 6.13867 1.13861C6.48639 1.21256 6.70042 1.74612 7.12847 2.81324C7.37189 3.4201 7.4936 3.72352 7.72134 3.9299C7.78522 3.98779 7.85456 4.03934 7.92839 4.08384C8.19162 4.24249 8.52022 4.27192 9.17741 4.33078C10.2899 4.43041 10.8462 4.48023 11.016 4.79739C11.0512 4.86308 11.0751 4.9342 11.0868 5.00779C11.1431 5.36315 10.7342 5.73519 9.91632 6.47927L9.68921 6.68589C9.30685 7.03376 9.11566 7.2077 9.00508 7.42477C8.93875 7.55498 8.89427 7.69521 8.87343 7.83985C8.83869 8.08098 8.89467 8.33331 9.00664 8.83796L9.04665 9.01827C9.24744 9.92329 9.34784 10.3758 9.22251 10.5982C9.10994 10.798 8.90257 10.9259 8.67351 10.9369C8.41849 10.949 8.05917 10.6562 7.34052 10.0707C6.86704 9.68484 6.63031 9.49194 6.3675 9.41658C6.12734 9.34771 5.87265 9.34771 5.63249 9.41658C5.36968 9.49194 5.13294 9.68484 4.65947 10.0707C3.94082 10.6562 3.5815 10.949 3.32648 10.9369C3.09742 10.9259 2.89005 10.798 2.77747 10.5982C2.65215 10.3758 2.75254 9.92329 2.95334 9.01827L2.99335 8.83796C3.10532 8.33331 3.1613 8.08098 3.12656 7.83985C3.10572 7.69521 3.06124 7.55498 2.99491 7.42477C2.88432 7.2077 2.69314 7.03376 2.31078 6.68589L2.08366 6.47927C1.2658 5.73519 0.856875 5.36315 0.913191 5.00779C0.924854 4.9342 0.948774 4.86308 0.983955 4.79739C1.15382 4.48023 1.71007 4.43041 2.82258 4.33078C3.47977 4.27192 3.80837 4.24249 4.07159 4.08384C4.14543 4.03934 4.21477 3.98779 4.27865 3.9299C4.50639 3.72352 4.6281 3.4201 4.87152 2.81324Z"
                          fill="white"
                          stroke="white"
                        />
                      </svg>
                      #[span.books__star 4.4]
                  .books__wrapper
                    a.books__link(href="#") Подробнее #[span.books__pages 384 страниц]
            li.books__item
              .books__inner
                img(
                  class="books__img"
                  src="static/images/content/book-transhumanism.jpg"
                  alt='Фото книги - "Transhumanism inc."'
                  width="275"
                  height="320"
                )
                .books__box
                  p.books__author Пелевин В.
                  h3.books__name Transhumanism inc.
                  p.books__description В будущем богатые люди смогут отделить свой мозг от старящегося тела
                  p.books__stars
                    .
                      <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M4.87152 2.81324C5.29957 1.74612 5.5136 1.21256 5.86132 1.13861C5.95275 1.11916 6.04724 1.11916 6.13867 1.13861C6.48639 1.21256 6.70042 1.74612 7.12847 2.81324C7.37189 3.4201 7.4936 3.72352 7.72134 3.9299C7.78522 3.98779 7.85456 4.03934 7.92839 4.08384C8.19162 4.24249 8.52022 4.27192 9.17741 4.33078C10.2899 4.43041 10.8462 4.48023 11.016 4.79739C11.0512 4.86308 11.0751 4.9342 11.0868 5.00779C11.1431 5.36315 10.7342 5.73519 9.91632 6.47927L9.68921 6.68589C9.30685 7.03376 9.11566 7.2077 9.00508 7.42477C8.93875 7.55498 8.89427 7.69521 8.87343 7.83985C8.83869 8.08098 8.89467 8.33331 9.00664 8.83796L9.04665 9.01827C9.24744 9.92329 9.34784 10.3758 9.22251 10.5982C9.10994 10.798 8.90257 10.9259 8.67351 10.9369C8.41849 10.949 8.05917 10.6562 7.34052 10.0707C6.86704 9.68484 6.63031 9.49194 6.3675 9.41658C6.12734 9.34771 5.87265 9.34771 5.63249 9.41658C5.36968 9.49194 5.13294 9.68484 4.65947 10.0707C3.94082 10.6562 3.5815 10.949 3.32648 10.9369C3.09742 10.9259 2.89005 10.798 2.77747 10.5982C2.65215 10.3758 2.75254 9.92329 2.95334 9.01827L2.99335 8.83796C3.10532 8.33331 3.1613 8.08098 3.12656 7.83985C3.10572 7.69521 3.06124 7.55498 2.99491 7.42477C2.88432 7.2077 2.69314 7.03376 2.31078 6.68589L2.08366 6.47927C1.2658 5.73519 0.856875 5.36315 0.913191 5.00779C0.924854 4.9342 0.948774 4.86308 0.983955 4.79739C1.15382 4.48023 1.71007 4.43041 2.82258 4.33078C3.47977 4.27192 3.80837 4.24249 4.07159 4.08384C4.14543 4.03934 4.21477 3.98779 4.27865 3.9299C4.50639 3.72352 4.6281 3.4201 4.87152 2.81324Z"
                          fill="white"
                          stroke="white"
                        />
                      </svg>
                      #[span.books__star 3.9]
                  .books__wrapper
                    a.books__link(href="#") Подробнее #[span.books__pages 608 страниц]
